<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.1</string>
		<key>CFBundleVersion</key>
		<string>2</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>comgooglemaps</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<!-- Required for loading web content and link previews -->
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) can use your camera to add photo &amp; video entries.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>$(PRODUCT_NAME) tags your posts with your current location to help you remember where you were at the time.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access to your microphone when recording video.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) can import &amp; export media you've captured to your Camera Roll.</string>
		<key>UIAppFonts</key>
		<array>
			<string>LCDM2B.ttf</string>
		</array>
		<key>UIApplicationShortcutItems</key>
		<array>
			<dict>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeCompose</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Text Entry</string>
				<key>UIApplicationShortcutItemType</key>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).textentry</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict/>
			</dict>
			<dict>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeMarkLocation</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Mark My Location</string>
				<key>UIApplicationShortcutItemType</key>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).location</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict/>
			</dict>
		</array>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UIRequiresFullScreen</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIStatusBarStyle</key>
		<string>UIStatusBarStyleLightContent</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<true/>
	</dict>
</plist>
